<h2>Table of Contents</h2>

<div class="alert alert-block alert-info" style="margin-top: 20px">
<ol>
    <li><a href="#data_acquisition">Data Acquisition</a>
    <li><a href="#basic_insight">Basic Insight of Dataset</a></li>
</ol>

</div>
<hr>

<h1 id="data_acquisition">Data Acquisition</h1>
<p>
There are various formats for a dataset, .csv, .json, .xlsx  etc. The dataset can be stored in different places, on your local machine or sometimes online.<br>
In this section, you will load a dataset into our Jupyter Notebook.<br>
In our case, the Automobile Dataset is an file called auto.csv, and it is in CSV (comma separated value) format. Let's use this dataset as an example to practice data reading.

The Pandas Library is a useful tool that enables us to read various datasets into a data frame; our Jupyter notebook platforms have a built-in <b>Pandas Library</b> so that all we need to do is import Pandas without installing.
</p>

<h2>Read Data</h2>

In [1]:
# Import pandas library
import pandas as pd

# Read the file auto.csv and assign it to variable "df"
df = pd.read_csv('auto.csv')

In [2]:
# show the first 5 rows
print("The first 5 rows of the dataframe:") 
print(df.head(5))

The first 5 rows of the dataframe:
   3    ?  alfa-romero  gas  std   two  convertible  rwd  front  88.6  ...  \
0  3    ?  alfa-romero  gas  std   two  convertible  rwd  front  88.6  ...
1  1    ?  alfa-romero  gas  std   two    hatchback  rwd  front  94.5  ...
2  2  164         audi  gas  std  four        sedan  fwd  front  99.8  ...
3  2  164         audi  gas  std  four        sedan  4wd  front  99.4  ...
4  2    ?         audi  gas  std   two        sedan  fwd  front  99.8  ...

   130  mpfi  3.47  2.68   9.0  111  5000  21  27  13495
0  130  mpfi  3.47  2.68   9.0  111  5000  21  27  16500
1  152  mpfi  2.68  3.47   9.0  154  5000  19  26  16500
2  109  mpfi  3.19  3.40  10.0  102  5500  24  30  13950
3  136  mpfi  3.19  3.40   8.0  115  5500  18  22  17450
4  136  mpfi  3.19  3.40   8.5  110  5500  19  25  15250

[5 rows x 26 columns]

In [3]:
# Write your code below and press Shift+Enter to execute 
print('The bottom 10 rows: ')
print(df.tail(10))

The bottom 10 rows:
     3    ? alfa-romero     gas    std   two convertible  rwd  front   88.6  \
194 -1   74       volvo     gas    std  four       wagon  rwd  front  104.3
195 -2  103       volvo     gas    std  four       sedan  rwd  front  104.3
196 -1   74       volvo     gas    std  four       wagon  rwd  front  104.3
197 -2  103       volvo     gas  turbo  four       sedan  rwd  front  104.3
198 -1   74       volvo     gas  turbo  four       wagon  rwd  front  104.3
199 -1   95       volvo     gas    std  four       sedan  rwd  front  109.1
200 -1   95       volvo     gas  turbo  four       sedan  rwd  front  109.1
201 -1   95       volvo     gas    std  four       sedan  rwd  front  109.1
202 -1   95       volvo  diesel  turbo  four       sedan  rwd  front  109.1
203 -1   95       volvo     gas  turbo  four       sedan  rwd  front  109.1

     ...  130  mpfi  3.47  2.68   9.0  111  5000  21  27  13495
194  ...  141  mpfi  3.78  3.15   9.5  114  5400  23  28  13415
195  ...  141  mpfi  3.78  3.15   9.5  114  5400  24  28  15985
196  ...  141  mpfi  3.78  3.15   9.5  114  5400  24  28  16515
197  ...  130  mpfi  3.62  3.15   7.5  162  5100  17  22  18420
198  ...  130  mpfi  3.62  3.15   7.5  162  5100  17  22  18950
199  ...  141  mpfi  3.78  3.15   9.5  114  5400  23  28  16845
200  ...  141  mpfi  3.78  3.15   8.7  160  5300  19  25  19045
201  ...  173  mpfi  3.58  2.87   8.8  134  5500  18  23  21485
202  ...  145   idi  3.01  3.40  23.0  106  4800  26  27  22470
203  ...  141  mpfi  3.78  3.15   9.5  114  5400  19  25  22625

[10 rows x 26 columns]

<h3>Add Headers</h3>
<p>
Take a look at our dataset; pandas automatically set the header by an integer from 0.
</p>
<p>
To better describe our data we can introduce a header, this information is available at:  <a href="https://archive.ics.uci.edu/ml/datasets/Automobile" target="_blank">https://archive.ics.uci.edu/ml/datasets/Automobile</a>
</p>
<p>
Thus, we have to add headers manually.
</p>
<p>
Firstly, we create a list "headers" that include all column names in order.
</p>

In [4]:
# create headers list

headers = ['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration', 'num-of-doors', 'body-styles', 'drive-wheels', 'engine-location','wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type', 'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke', 'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price']
df.columns = headers
print("headers\n", headers)

headers
 ['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration', 'num-of-doors', 'body-styles', 'drive-wheels', 'engine-location', 'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type', 'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke', 'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price']

 We replace headers and recheck our data frame by showing the first 10 rows

In [5]:
# show the first 10 rows 
print(df.head(10))
print(df.columns)

   symboling normalized-losses         make fuel-type aspiration num-of-doors  \
0          3                 ?  alfa-romero       gas        std          two
1          1                 ?  alfa-romero       gas        std          two
2          2               164         audi       gas        std         four
3          2               164         audi       gas        std         four
4          2                 ?         audi       gas        std          two
5          1               158         audi       gas        std         four
6          1                 ?         audi       gas        std         four
7          1               158         audi       gas      turbo         four
8          0                 ?         audi       gas      turbo          two
9          2               192          bmw       gas        std          two

   body-styles drive-wheels engine-location  wheel-base  ...  engine-size  \
0  convertible          rwd           front        88.6  ...          130
1    hatchback          rwd           front        94.5  ...          152
2        sedan          fwd           front        99.8  ...          109
3        sedan          4wd           front        99.4  ...          136
4        sedan          fwd           front        99.8  ...          136
5        sedan          fwd           front       105.8  ...          136
6        wagon          fwd           front       105.8  ...          136
7        sedan          fwd           front       105.8  ...          131
8    hatchback          4wd           front        99.5  ...          131
9        sedan          rwd           front       101.2  ...          108

   fuel-system  bore  stroke compression-ratio horsepower  peak-rpm city-mpg  \
0         mpfi  3.47    2.68               9.0        111      5000       21
1         mpfi  2.68    3.47               9.0        154      5000       19
2         mpfi  3.19    3.40              10.0        102      5500       24
3         mpfi  3.19    3.40               8.0        115      5500       18
4         mpfi  3.19    3.40               8.5        110      5500       19
5         mpfi  3.19    3.40               8.5        110      5500       19
6         mpfi  3.19    3.40               8.5        110      5500       19
7         mpfi  3.13    3.40               8.3        140      5500       17
8         mpfi  3.13    3.40               7.0        160      5500       16
9         mpfi  3.50    2.80               8.8        101      5800       23

  highway-mpg  price
0          27  16500
1          26  16500
2          30  13950
3          22  17450
4          25  15250
5          25  17710
6          25  18920
7          20  23875
8          22      ?
9          29  16430

[10 rows x 26 columns]
Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-styles', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

we can drop missing values along the column "price" as follows

In [6]:
# drop missing values only for the column price

dropmissingvalues = df.drop(df.index[df['price'] == '?']) 
print(dropmissingvalues)

     symboling normalized-losses         make fuel-type aspiration  \
0            3                 ?  alfa-romero       gas        std
1            1                 ?  alfa-romero       gas        std
2            2               164         audi       gas        std
3            2               164         audi       gas        std
4            2                 ?         audi       gas        std
5            1               158         audi       gas        std
6            1                 ?         audi       gas        std
7            1               158         audi       gas      turbo
9            2               192          bmw       gas        std
10           0               192          bmw       gas        std
11           0               188          bmw       gas        std
12           0               188          bmw       gas        std
13           1                 ?          bmw       gas        std
14           0                 ?          bmw       gas        std
15           0                 ?          bmw       gas        std
16           0                 ?          bmw       gas        std
17           2               121    chevrolet       gas        std
18           1                98    chevrolet       gas        std
19           0                81    chevrolet       gas        std
20           1               118        dodge       gas        std
21           1               118        dodge       gas        std
22           1               118        dodge       gas      turbo
23           1               148        dodge       gas        std
24           1               148        dodge       gas        std
25           1               148        dodge       gas        std
26           1               148        dodge       gas      turbo
27          -1               110        dodge       gas        std
28           3               145        dodge       gas      turbo
29           2               137        honda       gas        std
30           2               137        honda       gas        std
..         ...               ...          ...       ...        ...
174         -1                65       toyota       gas        std
175         -1                65       toyota       gas        std
176         -1                65       toyota       gas        std
177          3               197       toyota       gas        std
178          3               197       toyota       gas        std
179         -1                90       toyota       gas        std
180         -1                 ?       toyota       gas        std
181          2               122   volkswagen    diesel        std
182          2               122   volkswagen       gas        std
183          2                94   volkswagen    diesel        std
184          2                94   volkswagen       gas        std
185          2                94   volkswagen       gas        std
186          2                94   volkswagen    diesel      turbo
187          2                94   volkswagen       gas        std
188          3                 ?   volkswagen       gas        std
189          3               256   volkswagen       gas        std
190          0                 ?   volkswagen       gas        std
191          0                 ?   volkswagen    diesel      turbo
192          0                 ?   volkswagen       gas        std
193         -2               103        volvo       gas        std
194         -1                74        volvo       gas        std
195         -2               103        volvo       gas        std
196         -1                74        volvo       gas        std
197         -2               103        volvo       gas      turbo
198         -1                74        volvo       gas      turbo
199         -1                95        volvo       gas        std
200         -1                95        volvo       gas      turbo
201         -1                95        volvo       gas        std
202         -1                95        volvo    diesel      turbo
203         -1                95        volvo       gas      turbo

    num-of-doors  body-styles drive-wheels engine-location  wheel-base  ...  \
0            two  convertible          rwd           front        88.6  ...
1            two    hatchback          rwd           front        94.5  ...
2           four        sedan          fwd           front        99.8  ...
3           four        sedan          4wd           front        99.4  ...
4            two        sedan          fwd           front        99.8  ...
5           four        sedan          fwd           front       105.8  ...
6           four        wagon          fwd           front       105.8  ...
7           four        sedan          fwd           front       105.8  ...
9            two        sedan          rwd           front       101.2  ...
10          four        sedan          rwd           front       101.2  ...
11           two        sedan          rwd           front       101.2  ...
12          four        sedan          rwd           front       101.2  ...
13          four        sedan          rwd           front       103.5  ...
14          four        sedan          rwd           front       103.5  ...
15           two        sedan          rwd           front       103.5  ...
16          four        sedan          rwd           front       110.0  ...
17           two    hatchback          fwd           front        88.4  ...
18           two    hatchback          fwd           front        94.5  ...
19          four        sedan          fwd           front        94.5  ...
20           two    hatchback          fwd           front        93.7  ...
21           two    hatchback          fwd           front        93.7  ...
22           two    hatchback          fwd           front        93.7  ...
23          four    hatchback          fwd           front        93.7  ...
24          four        sedan          fwd           front        93.7  ...
25          four        sedan          fwd           front        93.7  ...
26             ?        sedan          fwd           front        93.7  ...
27          four        wagon          fwd           front       103.3  ...
28           two    hatchback          fwd           front        95.9  ...
29           two    hatchback          fwd           front        86.6  ...
30           two    hatchback          fwd           front        86.6  ...
..           ...          ...          ...             ...         ...  ...
174         four    hatchback          fwd           front       102.4  ...
175         four        sedan          fwd           front       102.4  ...
176         four    hatchback          fwd           front       102.4  ...
177          two    hatchback          rwd           front       102.9  ...
178          two    hatchback          rwd           front       102.9  ...
179         four        sedan          rwd           front       104.5  ...
180         four        wagon          rwd           front       104.5  ...
181          two        sedan          fwd           front        97.3  ...
182          two        sedan          fwd           front        97.3  ...
183         four        sedan          fwd           front        97.3  ...
184         four        sedan          fwd           front        97.3  ...
185         four        sedan          fwd           front        97.3  ...
186         four        sedan          fwd           front        97.3  ...
187         four        sedan          fwd           front        97.3  ...
188          two  convertible          fwd           front        94.5  ...
189          two    hatchback          fwd           front        94.5  ...
190         four        sedan          fwd           front       100.4  ...
191         four        sedan          fwd           front       100.4  ...
192         four        wagon          fwd           front       100.4  ...
193         four        sedan          rwd           front       104.3  ...
194         four        wagon          rwd           front       104.3  ...
195         four        sedan          rwd           front       104.3  ...
196         four        wagon          rwd           front       104.3  ...
197         four        sedan          rwd           front       104.3  ...
198         four        wagon          rwd           front       104.3  ...
199         four        sedan          rwd           front       109.1  ...
200         four        sedan          rwd           front       109.1  ...
201         four        sedan          rwd           front       109.1  ...
202         four        sedan          rwd           front       109.1  ...
203         four        sedan          rwd           front       109.1  ...

     engine-size  fuel-system  bore  stroke compression-ratio horsepower  \
0            130         mpfi  3.47    2.68              9.00        111
1            152         mpfi  2.68    3.47              9.00        154
2            109         mpfi  3.19    3.40             10.00        102
3            136         mpfi  3.19    3.40              8.00        115
4            136         mpfi  3.19    3.40              8.50        110
5            136         mpfi  3.19    3.40              8.50        110
6            136         mpfi  3.19    3.40              8.50        110
7            131         mpfi  3.13    3.40              8.30        140
9            108         mpfi  3.50    2.80              8.80        101
10           108         mpfi  3.50    2.80              8.80        101
11           164         mpfi  3.31    3.19              9.00        121
12           164         mpfi  3.31    3.19              9.00        121
13           164         mpfi  3.31    3.19              9.00        121
14           209         mpfi  3.62    3.39              8.00        182
15           209         mpfi  3.62    3.39              8.00        182
16           209         mpfi  3.62    3.39              8.00        182
17            61         2bbl  2.91    3.03              9.50         48
18            90         2bbl  3.03    3.11              9.60         70
19            90         2bbl  3.03    3.11              9.60         70
20            90         2bbl  2.97    3.23              9.41         68
21            90         2bbl  2.97    3.23              9.40         68
22            98         mpfi  3.03    3.39              7.60        102
23            90         2bbl  2.97    3.23              9.40         68
24            90         2bbl  2.97    3.23              9.40         68
25            90         2bbl  2.97    3.23              9.40         68
26            98         mpfi  3.03    3.39              7.60        102
27           122         2bbl  3.34    3.46              8.50         88
28           156          mfi  3.60    3.90              7.00        145
29            92         1bbl  2.91    3.41              9.60         58
30            92         1bbl  2.91    3.41              9.20         76
..           ...          ...   ...     ...               ...        ...
174          122         mpfi  3.31    3.54              8.70         92
175          122         mpfi  3.31    3.54              8.70         92
176          122         mpfi  3.31    3.54              8.70         92
177          171         mpfi  3.27    3.35              9.30        161
178          171         mpfi  3.27    3.35              9.30        161
179          171         mpfi  3.27    3.35              9.20        156
180          161         mpfi  3.27    3.35              9.20        156
181           97          idi  3.01    3.40             23.00         52
182          109         mpfi  3.19    3.40              9.00         85
183           97          idi  3.01    3.40             23.00         52
184          109         mpfi  3.19    3.40              9.00         85
185          109         mpfi  3.19    3.40              9.00         85
186           97          idi  3.01    3.40             23.00         68
187          109         mpfi  3.19    3.40             10.00        100
188          109         mpfi  3.19    3.40              8.50         90
189          109         mpfi  3.19    3.40              8.50         90
190          136         mpfi  3.19    3.40              8.50        110
191           97          idi  3.01    3.40             23.00         68
192          109         mpfi  3.19    3.40              9.00         88
193          141         mpfi  3.78    3.15              9.50        114
194          141         mpfi  3.78    3.15              9.50        114
195          141         mpfi  3.78    3.15              9.50        114
196          141         mpfi  3.78    3.15              9.50        114
197          130         mpfi  3.62    3.15              7.50        162
198          130         mpfi  3.62    3.15              7.50        162
199          141         mpfi  3.78    3.15              9.50        114
200          141         mpfi  3.78    3.15              8.70        160
201          173         mpfi  3.58    2.87              8.80        134
202          145          idi  3.01    3.40             23.00        106
203          141         mpfi  3.78    3.15              9.50        114

     peak-rpm city-mpg highway-mpg  price
0        5000       21          27  16500
1        5000       19          26  16500
2        5500       24          30  13950
3        5500       18          22  17450
4        5500       19          25  15250
5        5500       19          25  17710
6        5500       19          25  18920
7        5500       17          20  23875
9        5800       23          29  16430
10       5800       23          29  16925
11       4250       21          28  20970
12       4250       21          28  21105
13       4250       20          25  24565
14       5400       16          22  30760
15       5400       16          22  41315
16       5400       15          20  36880
17       5100       47          53   5151
18       5400       38          43   6295
19       5400       38          43   6575
20       5500       37          41   5572
21       5500       31          38   6377
22       5500       24          30   7957
23       5500       31          38   6229
24       5500       31          38   6692
25       5500       31          38   7609
26       5500       24          30   8558
27       5000       24          30   8921
28       5000       19          24  12964
29       4800       49          54   6479
30       6000       31          38   6855
..        ...      ...         ...    ...
174      4200       27          32   9988
175      4200       27          32  10898
176      4200       27          32  11248
177      5200       20          24  16558
178      5200       19          24  15998
179      5200       20          24  15690
180      5200       19          24  15750
181      4800       37          46   7775
182      5250       27          34   7975
183      4800       37          46   7995
184      5250       27          34   8195
185      5250       27          34   8495
186      4500       37          42   9495
187      5500       26          32   9995
188      5500       24          29  11595
189      5500       24          29   9980
190      5500       19          24  13295
191      4500       33          38  13845
192      5500       25          31  12290
193      5400       23          28  12940
194      5400       23          28  13415
195      5400       24          28  15985
196      5400       24          28  16515
197      5100       17          22  18420
198      5100       17          22  18950
199      5400       23          28  16845
200      5300       19          25  19045
201      5500       18          23  21485
202      4800       26          27  22470
203      5400       19          25  22625

[200 rows x 26 columns]

Now, we have successfully read the raw dataset and add the correct headers into the data frame.

In [7]:
# Write your code below and press Shift+Enter to execute 
df.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-styles', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

<h2>Save Dataset</h2>
<p>
Correspondingly, Pandas enables us to save the dataset to csv. You can add the file path and name along with quotation marks in the brackets.
</p>
<p>
    Save the dataframe <b>df</b> as <b>automobile.csv</b> to your local machine:
</p>

In [8]:
# Write your code below and press Shift+Enter to execute 
df.to_csv(r'C:\Users\roisi\Downloads\Assignment\automobile.csv')

 We can also read and save other file formats, we can use similar functions. Please, check the slides for more information.

<h1 id="basic_insight">Basic Insight of Dataset</h1>
<p>
After reading data into Pandas dataframe, it is time for us to explore the dataset.<br>
There are several ways to obtain essential insights of the data to help us better understand our dataset.
</p>

<h2>Data Types</h2>
<p>
Data has a variety of types.<br>
The main types stored in Pandas dataframes are <b>object</b>, <b>float</b>, <b>int</b>, <b>bool</b> and <b>datetime64</b>. In order to better learn about each attribute, it is always good for us to know the data type of each column. In Pandas:
</p>

In [9]:
#show the types of all the columns 
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-styles           object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

<p>
As a result, as shown above, it is clear to see that the data type of "symboling" and "curb-weight" are <code>int64</code>, "normalized-losses" is <code>object</code>, and "wheel-base" is <code>float64</code>, etc.
</p>
<p>
These data types can be changed; we will learn how to accomplish this in a later module.
</p>

<h2>Describe</h2>
We would like to get a statistical summary of each column, such as count, column mean value, column standard deviation, etc.

Use a method in Pandas that provides various summary statistics, excluding <code>NaN</code> (Not a Number) values.

In [10]:
df.describe()

,symboling,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-mpg
count,204.000000,204.000000,204.000000,204.000000,204.000000,204.000000,204.000000,204.000000,204.000000,204.000000
mean,0.823529,98.806373,174.075000,65.916667,53.749020,2555.602941,126.892157,10.148137,25.240196,30.769608
std,1.239035,5.994144,12.362123,2.146716,2.424901,521.960820,41.744569,3.981000,6.551513,6.898337
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,0.000000,94.500000,166.300000,64.075000,52.000000,2145.000000,97.000000,8.575000,19.000000,25.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,119.500000,9.000000,24.000000,30.000000
75%,2.000000,102.400000,183.200000,66.900000,55.500000,2939.250000,142.000000,9.400000,30.000000,34.500000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

<p>
This shows the statistical summary of all numeric-typed (int, float) columns.<br>
For example, the attribute "symboling" has 205 counts, the mean value of this column is 0.83, the standard deviation is 1.25, the minimum value is -2, 25th percentile is 0, 50th percentile is 1, 75th percentile is 2, and the maximum value is 3.
<br>
However, what if we would also like to check all the columns including those that are of type object.
<br><br>

You can add an argument <code>include = "all"</code> inside the bracket. Let's try it again.
    
</p>

In [11]:
# describe all the columns in "df" 
df.describe(include='all')

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-styles,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
count,204.000000,204,204,204,204,204,204,204,204,204.000000,...,204.000000,204,204,204,204.000000,204,204,204.000000,204.000000,204
unique,NaN,52,22,2,2,3,5,3,2,NaN,...,NaN,8,39,37,NaN,60,24,NaN,NaN,186
top,NaN,?,toyota,gas,std,four,sedan,fwd,front,NaN,...,NaN,mpfi,3.62,3.40,NaN,68,5500,NaN,NaN,?
freq,NaN,40,32,184,167,114,96,120,201,NaN,...,NaN,93,23,20,NaN,19,37,NaN,NaN,4
mean,0.823529,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.806373,...,126.892157,NaN,NaN,NaN,10.148137,NaN,NaN,25.240196,30.769608,NaN
std,1.239035,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.994144,...,41.744569,NaN,NaN,NaN,3.981000,NaN,NaN,6.551513,6.898337,NaN
min,-2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.600000,...,61.000000,NaN,NaN,NaN,7.000000,NaN,NaN,13.000000,16.000000,NaN
25%,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.500000,...,97.000000,NaN,NaN,NaN,8.575000,NaN,NaN,19.000000,25.000000,NaN
50%,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.000000,...,119.500000,NaN,NaN,NaN,9.000000,NaN,NaN,24.000000,30.000000,NaN
75%,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.400000,...,142.000000,NaN,NaN,NaN,9.400000,NaN,NaN,30.000000,34.500000,NaN
max,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.900000,...,326.000000,NaN,NaN,NaN,23.000000,NaN,NaN,49.000000,54.000000,NaN

<p>
Now, it provides the statistical summary of all the columns, including object-typed attributes.<br>
We can now see how many unique values, which is the top value and the frequency of top value in the object-typed columns.<br>
Some values in the table above show as "NaN", this is because those numbers are not available regarding a particular column type.<br>
</p>

In [14]:
# Write your code below and press Shift+Enter to execute 
df[['compression-ratio', 'length']].describe()

       compression-ratio      length
count         204.000000  204.000000
mean           10.148137  174.075000
std             3.981000   12.362123
min             7.000000  141.100000
25%             8.575000  166.300000
50%             9.000000  173.200000
75%             9.400000  183.200000
max            23.000000  208.100000

<h2>Info</h2>
Another method you can use to check your dataset is:

dataframe.info

It provide a concise summary of your DataFrame.

In [13]:
# look at the info of "df"
df.info

<bound method DataFrame.info of      symboling normalized-losses         make fuel-type aspiration  \
0            3                 ?  alfa-romero       gas        std
1            1                 ?  alfa-romero       gas        std
2            2               164         audi       gas        std
3            2               164         audi       gas        std
4            2                 ?         audi       gas        std
5            1               158         audi       gas        std
6            1                 ?         audi       gas        std
7            1               158         audi       gas      turbo
8            0                 ?         audi       gas      turbo
9            2               192          bmw       gas        std
10           0               192          bmw       gas        std
11           0               188          bmw       gas        std
12           0               188          bmw       gas        std
13           1                 ?          bmw       gas        std
14           0                 ?          bmw       gas        std
15           0                 ?          bmw       gas        std
16           0                 ?          bmw       gas        std
17           2               121    chevrolet       gas        std
18           1                98    chevrolet       gas        std
19           0                81    chevrolet       gas        std
20           1               118        dodge       gas        std
21           1               118        dodge       gas        std
22           1               118        dodge       gas      turbo
23           1               148        dodge       gas        std
24           1               148        dodge       gas        std
25           1               148        dodge       gas        std
26           1               148        dodge       gas      turbo
27          -1               110        dodge       gas        std
28           3               145        dodge       gas      turbo
29           2               137        honda       gas        std
..         ...               ...          ...       ...        ...
174         -1                65       toyota       gas        std
175         -1                65       toyota       gas        std
176         -1                65       toyota       gas        std
177          3               197       toyota       gas        std
178          3               197       toyota       gas        std
179         -1                90       toyota       gas        std
180         -1                 ?       toyota       gas        std
181          2               122   volkswagen    diesel        std
182          2               122   volkswagen       gas        std
183          2                94   volkswagen    diesel        std
184          2                94   volkswagen       gas        std
185          2                94   volkswagen       gas        std
186          2                94   volkswagen    diesel      turbo
187          2                94   volkswagen       gas        std
188          3                 ?   volkswagen       gas        std
189          3               256   volkswagen       gas        std
190          0                 ?   volkswagen       gas        std
191          0                 ?   volkswagen    diesel      turbo
192          0                 ?   volkswagen       gas        std
193         -2               103        volvo       gas        std
194         -1                74        volvo       gas        std
195         -2               103        volvo       gas        std
196         -1                74        volvo       gas        std
197         -2               103        volvo       gas      turbo
198         -1                74        volvo       gas      turbo
199         -1                95        volvo       gas        std
200         -1                95        volvo       gas      turbo
201         -1                95        volvo       gas        std
202         -1                95        volvo    diesel      turbo
203         -1                95        volvo       gas      turbo

    num-of-doors  body-styles drive-wheels engine-location  wheel-base  ...  \
0            two  convertible          rwd           front        88.6  ...
1            two    hatchback          rwd           front        94.5  ...
2           four        sedan          fwd           front        99.8  ...
3           four        sedan          4wd           front        99.4  ...
4            two        sedan          fwd           front        99.8  ...
5           four        sedan          fwd           front       105.8  ...
6           four        wagon          fwd           front       105.8  ...
7           four        sedan          fwd           front       105.8  ...
8            two    hatchback          4wd           front        99.5  ...
9            two        sedan          rwd           front       101.2  ...
10          four        sedan          rwd           front       101.2  ...
11           two        sedan          rwd           front       101.2  ...
12          four        sedan          rwd           front       101.2  ...
13          four        sedan          rwd           front       103.5  ...
14          four        sedan          rwd           front       103.5  ...
15           two        sedan          rwd           front       103.5  ...
16          four        sedan          rwd           front       110.0  ...
17           two    hatchback          fwd           front        88.4  ...
18           two    hatchback          fwd           front        94.5  ...
19          four        sedan          fwd           front        94.5  ...
20           two    hatchback          fwd           front        93.7  ...
21           two    hatchback          fwd           front        93.7  ...
22           two    hatchback          fwd           front        93.7  ...
23          four    hatchback          fwd           front        93.7  ...
24          four        sedan          fwd           front        93.7  ...
25          four        sedan          fwd           front        93.7  ...
26             ?        sedan          fwd           front        93.7  ...
27          four        wagon          fwd           front       103.3  ...
28           two    hatchback          fwd           front        95.9  ...
29           two    hatchback          fwd           front        86.6  ...
..           ...          ...          ...             ...         ...  ...
174         four    hatchback          fwd           front       102.4  ...
175         four        sedan          fwd           front       102.4  ...
176         four    hatchback          fwd           front       102.4  ...
177          two    hatchback          rwd           front       102.9  ...
178          two    hatchback          rwd           front       102.9  ...
179         four        sedan          rwd           front       104.5  ...
180         four        wagon          rwd           front       104.5  ...
181          two        sedan          fwd           front        97.3  ...
182          two        sedan          fwd           front        97.3  ...
183         four        sedan          fwd           front        97.3  ...
184         four        sedan          fwd           front        97.3  ...
185         four        sedan          fwd           front        97.3  ...
186         four        sedan          fwd           front        97.3  ...
187         four        sedan          fwd           front        97.3  ...
188          two  convertible          fwd           front        94.5  ...
189          two    hatchback          fwd           front        94.5  ...
190         four        sedan          fwd           front       100.4  ...
191         four        sedan          fwd           front       100.4  ...
192         four        wagon          fwd           front       100.4  ...
193         four        sedan          rwd           front       104.3  ...
194         four        wagon          rwd           front       104.3  ...
195         four        sedan          rwd           front       104.3  ...
196         four        wagon          rwd           front       104.3  ...
197         four        sedan          rwd           front       104.3  ...
198         four        wagon          rwd           front       104.3  ...
199         four        sedan          rwd           front       109.1  ...
200         four        sedan          rwd           front       109.1  ...
201         four        sedan          rwd           front       109.1  ...
202         four        sedan          rwd           front       109.1  ...
203         four        sedan          rwd           front       109.1  ...

     engine-size  fuel-system  bore  stroke compression-ratio horsepower  \
0            130         mpfi  3.47    2.68              9.00        111
1            152         mpfi  2.68    3.47              9.00        154
2            109         mpfi  3.19    3.40             10.00        102
3            136         mpfi  3.19    3.40              8.00        115
4            136         mpfi  3.19    3.40              8.50        110
5            136         mpfi  3.19    3.40              8.50        110
6            136         mpfi  3.19    3.40              8.50        110
7            131         mpfi  3.13    3.40              8.30        140
8            131         mpfi  3.13    3.40              7.00        160
9            108         mpfi  3.50    2.80              8.80        101
10           108         mpfi  3.50    2.80              8.80        101
11           164         mpfi  3.31    3.19              9.00        121
12           164         mpfi  3.31    3.19              9.00        121
13           164         mpfi  3.31    3.19              9.00        121
14           209         mpfi  3.62    3.39              8.00        182
15           209         mpfi  3.62    3.39              8.00        182
16           209         mpfi  3.62    3.39              8.00        182
17            61         2bbl  2.91    3.03              9.50         48
18            90         2bbl  3.03    3.11              9.60         70
19            90         2bbl  3.03    3.11              9.60         70
20            90         2bbl  2.97    3.23              9.41         68
21            90         2bbl  2.97    3.23              9.40         68
22            98         mpfi  3.03    3.39              7.60        102
23            90         2bbl  2.97    3.23              9.40         68
24            90         2bbl  2.97    3.23              9.40         68
25            90         2bbl  2.97    3.23              9.40         68
26            98         mpfi  3.03    3.39              7.60        102
27           122         2bbl  3.34    3.46              8.50         88
28           156          mfi  3.60    3.90              7.00        145
29            92         1bbl  2.91    3.41              9.60         58
..           ...          ...   ...     ...               ...        ...
174          122         mpfi  3.31    3.54              8.70         92
175          122         mpfi  3.31    3.54              8.70         92
176          122         mpfi  3.31    3.54              8.70         92
177          171         mpfi  3.27    3.35              9.30        161
178          171         mpfi  3.27    3.35              9.30        161
179          171         mpfi  3.27    3.35              9.20        156
180          161         mpfi  3.27    3.35              9.20        156
181           97          idi  3.01    3.40             23.00         52
182          109         mpfi  3.19    3.40              9.00         85
183           97          idi  3.01    3.40             23.00         52
184          109         mpfi  3.19    3.40              9.00         85
185          109         mpfi  3.19    3.40              9.00         85
186           97          idi  3.01    3.40             23.00         68
187          109         mpfi  3.19    3.40             10.00        100
188          109         mpfi  3.19    3.40              8.50         90
189          109         mpfi  3.19    3.40              8.50         90
190          136         mpfi  3.19    3.40              8.50        110
191           97          idi  3.01    3.40             23.00         68
192          109         mpfi  3.19    3.40              9.00         88
193          141         mpfi  3.78    3.15              9.50        114
194          141         mpfi  3.78    3.15              9.50        114
195          141         mpfi  3.78    3.15              9.50        114
196          141         mpfi  3.78    3.15              9.50        114
197          130         mpfi  3.62    3.15              7.50        162
198          130         mpfi  3.62    3.15              7.50        162
199          141         mpfi  3.78    3.15              9.50        114
200          141         mpfi  3.78    3.15              8.70        160
201          173         mpfi  3.58    2.87              8.80        134
202          145          idi  3.01    3.40             23.00        106
203          141         mpfi  3.78    3.15              9.50        114

     peak-rpm city-mpg highway-mpg  price
0        5000       21          27  16500
1        5000       19          26  16500
2        5500       24          30  13950
3        5500       18          22  17450
4        5500       19          25  15250
5        5500       19          25  17710
6        5500       19          25  18920
7        5500       17          20  23875
8        5500       16          22      ?
9        5800       23          29  16430
10       5800       23          29  16925
11       4250       21          28  20970
12       4250       21          28  21105
13       4250       20          25  24565
14       5400       16          22  30760
15       5400       16          22  41315
16       5400       15          20  36880
17       5100       47          53   5151
18       5400       38          43   6295
19       5400       38          43   6575
20       5500       37          41   5572
21       5500       31          38   6377
22       5500       24          30   7957
23       5500       31          38   6229
24       5500       31          38   6692
25       5500       31          38   7609
26       5500       24          30   8558
27       5000       24          30   8921
28       5000       19          24  12964
29       4800       49          54   6479
..        ...      ...         ...    ...
174      4200       27          32   9988
175      4200       27          32  10898
176      4200       27          32  11248
177      5200       20          24  16558
178      5200       19          24  15998
179      5200       20          24  15690
180      5200       19          24  15750
181      4800       37          46   7775
182      5250       27          34   7975
183      4800       37          46   7995
184      5250       27          34   8195
185      5250       27          34   8495
186      4500       37          42   9495
187      5500       26          32   9995
188      5500       24          29  11595
189      5500       24          29   9980
190      5500       19          24  13295
191      4500       33          38  13845
192      5500       25          31  12290
193      5400       23          28  12940
194      5400       23          28  13415
195      5400       24          28  15985
196      5400       24          28  16515
197      5100       17          22  18420
198      5100       17          22  18950
199      5400       23          28  16845
200      5300       19          25  19045
201      5500       18          23  21485
202      4800       26          27  22470
203      5400       19          25  22625

[204 rows x 26 columns]>

<p>
Here we are able to see the information of our dataframe, with the top 30 rows and the bottom 30 rows.
<br><br>
And, it also shows us the whole data frame has 205 rows and 26 columns in total.
</p>

<h1>Excellent! You have just completed the  Introduction  Notebook!</h1>

<h3>About the Authors:</h3>

This notebook was written by <a href="https://www.linkedin.com/in/mahdi-noorian-58219234/" target="_blank">Mahdi Noorian PhD</a>, <a href="https://www.linkedin.com/in/joseph-s-50398b136/" target="_blank">Joseph Santarcangelo</a>, Bahare Talayian, Eric Xiao, Steven Dong, Parizad, Hima Vsudevan and <a href="https://www.linkedin.com/in/fiorellawever/" target="_blank">Fiorella Wenver</a> and <a href=" https://www.linkedin.com/in/yi-leng-yao-84451275/ " target="_blank" >Yi Yao</a>.

<p><a href="https://www.linkedin.com/in/joseph-s-50398b136/" target="_blank">Joseph Santarcangelo</a> is a Data Scientist at IBM, and holds a PhD in Electrical Engineering. His research focused on using Machine Learning, Signal Processing, and Computer Vision to determine how videos impact human cognition. Joseph has been working for IBM since he completed his PhD.</p>

<hr>
<p>Copyright &copy; 2018 IBM Developer Skills Network. This notebook and its source code are released under the terms of the <a href="https://cognitiveclass.ai/mit-license/">MIT License</a>.</p>